/* Tags styles */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    overflow: hidden;
    font-size: 1rem;
}

nav {
    display: flex;
    height: 100%;
}

input {
    background-color: #2A3942;
    border: 0 ;
    border-radius: 4px;
    outline-style: none;
    border-style: none;
    color: #FFFFFF;
    padding-left: 5px;
}

input::placeholder {
    color: #FFFFFF;
}

/*seccion header y conteiner general */

.conteiner__page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
                         "find  main"
                         "aside main";       
}

.header {
    grid-area: header;
    background-color: #202C33;
    height: 10vh;
    border: 0.5px solid #29353C;
}

.nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border-right: 0.5px solid #29353C;
}

.perfil--width {
    width: 50%;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.nav__icons {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.nav2 {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.nav2__photo{
    height: 100%;
    width: 15%;
}

.chat__img--width {
    height: 90%;
    border-radius: 50%;
    margin: 2.5% 10%;
}

.nav2__name {
    width: 70%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.nav2__icons {
    margin-left: auto;
}

/*seccion find*/
.find {
    grid-area: find;
    background-color: #111B21;
    height: 8vh;
    border: 0.5px solid #1E2930;
    display: flex;
    align-items: center;
}

.find__box {
    margin-left: 5%;
    width: 90%;
    height: 50%;
}

.find__icon {
    background-color: #2A3942;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}

.input__size {
    width: 90%;
    padding: 1.5% 0% 1.5% 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*seccion aside */

.aside {
    grid-area: aside;
    background-color: #111B21;
    height: 82vh;
    border: 0.5px #1E2930;
}

.chats {
    height: 15vh;
    border: 1px #1E2930 solid ;
}

.chat__img--width2 {
    height: 80%;
    border-radius: 50%;
    margin: 1.5% 5%;
}

.main {
    grid-area: main;
    background-color: #111B21;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #1E2930;
}

.hora {
    margin-left: auto;
    margin-right: 5%;
}

.box__text {
    background-color: #202C33;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat__input {
    width: 70%;
    height: 55%;
    font-size: 20px;
}

.box__chat{
    height: 100%;
    overflow-y: scroll;
}

.message__box {
    background-color: #202C33;
    min-width: 200px;
    max-width: 50%;
    height: 5vh;
    margin: 10px 5%;
    padding: 10px;
    border-radius: 5px;
}

.message__box__chat {
    background-color: #005C4B;
    min-width: min-content;
    max-width: max-content;
    max-height: max-content;
    margin: 10px 5% 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.message {
    margin: 0;
    word-break: break-all;
    max-width: 500px;
}

.flex {
    display: flex;
}


@font-face { 
    font-family: Roboto; 
    src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); 
}
